<h2>Comments</h2>
<div>
    <form #commentForm="ngForm" (submit)="onSumbmit(commentForm)">
        <div>
            <label for="newComment">Comment</label>
            <input type="text"
                name="newComment"
                id="newComment"
                #commentField="ngModel"
                minlength="1"
                maxlength="100"
                required
                [(ngModel)]="newComment.comment"
            />
            <p *ngIf="commentField.hasError('required') && commentField.touched">
                Comment is required
            </p>
        </div>   
        <div>
            <button mat-button type="submit" [disabled]="commentForm.invalid">Add Comment</button>
            <p *ngIf="addCommentError">
                Unable to add place. See the log for more information.
            </p>
        </div>        
    </form>
</div>
<div *ngIf="commentService.comments.length">
    <ul class="comments">
        <li *ngFor="let comment of commentService.comments">
            <span class="badge">{{comment.id}} </span>{{comment.comment}}
            <button mat-button class="delete" title="delete comment" (click)="delete(comment.id)">x</button>
        </li>
    </ul>
    <!--<button class="clear" (click)="commentService.clear()">Clear</button>-->
</div>
