<div>
  <form #registerForm="ngForm" (submit)="onRegister(registerForm)">
    <div>
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        #usernameField="ngModel"
        required
        [(ngModel)]="regRequest.name"
      />
      <p *ngIf="usernameField.hasError('required') && usernameField.touched">
        Username is required
      </p>
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="passwrod"
        #passwordField="ngModel"
        required
        [(ngModel)]="regRequest.password"
      />
      <p *ngIf="passwordField.hasError('required') && passwordField.touched">
        Password is required
      </p>
    </div>
    <div>
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
      <p *ngIf="registerError">
        Unable to register. See the log for more information.
      </p>
    </div>
  </form>
</div>