<h2>Places</h2>
<nav>
    <a routerLink="/places/create/{{tripId}}">Add Place</a>
</nav>
<ul class="places">
    <li *ngFor="let place of places">
        <a routerLink="/places/details/{{place.id}}">
            <span class="badge"> {{place.id}} </span> {{place.name}}
        </a>
        <button class="delete" title="delete place" (click)="delete(place)">x</button>
    </li>
</ul>
<div
    *ngIf="places"
    class="map"
    leaflet
    [leafletOptions]="mapOptions"
    [leafletLayers]="mapMarkers">
</div>