<div>
    <form #placeForm="ngForm" (submit)="onSumbmit(placeForm)">
        <div>
            <label for="name">Name</label>
            <input type="text"
                name="name"
                id="name"
                #nameField="ngModel"
                minlength="3"
                maxlength="100"
                required
                [(ngModel)]="addPlaceRequest.name"
            />
            <p *ngIf="nameField.hasError('required') && nameField.touched">
                Name is required
            </p>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text"
                name="description"
                id="description"
                #descriptionField="ngModel"
                minlength="5"
                maxlength="5000"
                required
                [(ngModel)]="addPlaceRequest.description"
            />
            <p *ngIf="descriptionField.hasError('required') && nameField.touched">
               Description is required 
            </p>
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text"
                name="location"
                id="location"
                #locationField="ngModel"
                required
                [(ngModel)]="addPlaceRequest.location"
            />
            <div class="map" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)"></div>
            <p *ngIf="locationField.hasError('required') && locationField.touched">
                Location is required
            </p>
        </div>
        <div>
            <label for="typeHref">Type Href</label>
            <input type="text"
                name="typeHref"
                id="typeHref"
                #typeHrefField="ngModel"
                [(ngModel)]="addPlaceRequest.tripHref"
            />
        </div>
        <div>
            <label for="typeId">Type ID</label>
            <input type="text"
                name="typeId"
                id="typeId"
                #typeIdField="ngModel"
                [(ngModel)]="addPlaceRequest.tripId"
            />
        </div>
        <div>
            <label for="pictureUrl">Picture</label>
            <input type="text"
                name="pictureUrl"
                id="pictureUrl"
                #pictureUrlField="ngModel"
                [(ngModel)]="addPlaceRequest.pictureUrl"
            />
        </div>
        <div>
            <button type="submit" [disabled]="placeForm.invalid">Add Place</button>
            <p *ngIf="addPlaceError">
                Unable to add place. See the log for more information.
            </p>
        </div>
    </form>
</div>

<button class="refresh" title="Refresh" (click)="getGeo()">Get Position</button>
