<div class="container">
    <input type="file" name="file" ng2FileSelect [uploader]="imageUploaderService.uploader" />
    <button type="button" class="btn btn-success btn-s" 
      (click)="imageUploaderService.uploader.uploadAll()" 
      [disabled]="!imageUploaderService.uploader.getNotUploadedItems().length" >
          Upload
    </button>
</div>
<div *ngIf="imageUploaderService.uploader?.queue?.length">
    <h3>Upload queue</h3>
    <p>Queue length: {{imageUploaderService.uploader?.queue?.length }}</p>
    <table class="table">
      <thead>
      <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <!--<th>Progress</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of imageUploaderService.uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="item" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <!--
          <td *ngIf="item">
            <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>  
          -->        
      </tr>
      </tbody>
  </table>    
</div>